# Operating System files

.DS_Store
Thumbs.db

# build files

.gradle/
build/
target/
bin/
gen/
out/
classes/
m2e-wtp/
test-classes/

# Eclipse files

.classpath
.project
.settings/
.springBeans

# IDEA files

*.idea/
*.iml
*.ipr
*.iws
*.sw?

# checkstyle
.checkstyle

# log config
logback.xml

